[2015-08-25 10:31] lisa2lisa opened #3 "Tideways in Freebsd"
we testing the tideway extension in freebsd now, we encounter some problem.

Server Information:

background info:
[code]
[code]
compile tideways:
[code]
config php
[code]
[code]
[code]
profiling.php
[code]
enable tideways:
[code]
Problem encountered:
1. it create files for a while, and then no new file create anymore
2. i have curl a webpage with cookie set, for every 5 sec, supposing i can get 1

[2015-08-25 12:33] lisa2lisa commented on #3
we swtich to v1.5.0 no same problem encountered:
[code]

[2015-08-25 12:35] lisa2lisa commented on #3
but we having the similar problem for v2.0.1
[code]

[2015-08-25 14:39] lisa2lisa commented on #3
also breaks in v1.7.2
[code]

[2015-08-25 15:08] lisa2lisa commented on #3
broken in V1.6.2
{code}
root@trunk:/tmp/php-profiler-extension-1.6.2 # php -i | grep tideways
tideways
tideways => 1.6.2
Connection (tideways.connection) => unix:///var/run/tideways/tidewaysd.sock
UDP Connection (tideways.udp_connection) => 127.0.0.1:8135
Default API Key (tideways.api_key) =>
Default Sample-Rate (tideways.sample_rate) => 10
Framework Detection (tideways.framework) =>
Automatically

[2015-09-06 10:34] #3 closed

[2015-09-06 10:35] beberlei commented on #3
You can configure the extension with the following setting to skip the auto prepend overwrite:

    tideways.auto_prepend_library=0

[2015-11-05 23:29] Flyingmana opened #5 "Tested with armv7l architecture - 1 failed test"
as it happens, my hoster ( scaleway.com ) uses ARM CPUs, so I had a chance to test the extension there.

As there is no package provided, I compiled myself and executed also the testsuite.
There was one failing test. I paste now the maybe important parts of the result of `make test`

[code]

I let out most parts, but can send them to you if needed.
Else the extension seems to work, at least it doe

[2015-11-06 19:11] beberlei commented on #5
@Flyingmana Can you paste the output from ./configure script?

[2015-11-07 17:06] Flyingmana commented on #5
[code]

[2015-12-12 18:05] longxinH opened #7 "gc"
(lldb) bt
* thread #1: tid = 0x1836c, 0x00000001039689dd tideways.so`tw_span_create(category="gc", category_len=2) + 77 at tideways.c:723, queue = 'com.apple.main-thread', stop reason = EXC_BAD_ACCESS (code=1, address=0x1c)
  * frame #0: 0x00000001039689dd tideways.so`tw_span_create(category="gc", category_len=2) + 77 at tideways.c:723
    frame #1: 0x000000010396967f tideways.so`tw_gc_collect_cyc

[2015-12-12 23:27] beberlei commented on #7
@longxinH thanks good catch :-)

[2015-12-21 18:01] beberlei commented on #7
@longxinH fixed in last php7-only branch commit, can you verify?

[2015-12-21 18:01] #7 closed

[2015-12-26 03:11] longxinH commented on #7
(gdb) bt
#0  0x00007ffff0312a1a in tw_span_create (category=0x7ffff031b17c "gc",
    category_len=2)
    at /home/longxinhui/php-src/php70/ext/php-profiler-extension-php7-only/tideways.c:722
#1  0x00007ffff03196c0 in tw_gc_collect_cycles ()
    at /home/longxinhui/php-src/php70/ext/php-profiler-extension-php7-only/tideways.c:3545
#2  0x0000000000ac4234 in shutdown_executor ()
    at /home/longxinh

[2015-12-26 03:14] longxinH commented on #7
PHP_RSHUTDOWN_FUNCTION(tideways)
{
	hp_end(TSRMLS_C);

	if (hp_globals.prepend_overwritten == 1) {
		efree(PG(auto_prepend_file));
	}
	PG(auto_prepend_file) = NULL;
	hp_globals.prepend_overwritten = 0;

#if PHP_VERSION_ID >= 70000
	gc_collect_cycles = tw_original_gc_collect_cycles;
#endif

	return SUCCESS;
}

[2015-12-26 03:15] longxinH commented on #7
PHP_MSHUTDOWN_FUNCTION plus gc_collect_cycles = tw original gc_collect_cycles;

[2016-01-05 01:31] longxinH opened #11 "PHP_MSHUTDOWN_FUNCTION"
php7-only verify
PHP_MSHUTDOWN_FUNCTION plus gc_collect_cycles = tw original gc_collect_cycles;

(gdb) bt
#0 0x00007ffff0312a1a in tw_span_create (category=0x7ffff031b17c "gc",
category_len=2)
at /home/longxinhui/php-src/php70/ext/php-profiler-extension-php7-only/tideways.c:722
#1 0x00007ffff03196c0 in tw_gc_collect_cycles ()
at /home/longxinhui/php-src/php70/ext/php-profiler-extension-php7-only/t

[2016-01-05 20:12] beberlei commented on #11
@longxinH please test the "php7" branch, the php7-only one is not current anymore.

[2016-01-28 09:43] beberlei commented on #11
This should be fixed.

[2016-01-28 09:43] #11 closed

[2016-02-04 08:58] beberlei commented on #5
@Flyingmana this could be a problem of how usleep works with interrupts, I have the same problem on Windows and fixed the test this way: https://github.com/tideways/php-profiler-extension/commit/1e2ee20bb6d44f1ffe504a2d74cb9159c59a103d

[2016-02-08 21:19] Flyingmana commented on #5
have tested the appveyor branch and the tests rund without fail, so I think this will solve this :+1:

[2016-03-13 11:42] diego-vieira opened #15 "ld: 1 duplicate symbol for architecture x86_64"
I'm having the following issue when trying to `make` in OSX El Capitan 10.11.3 using PHP 5.6.18.

[code]

Is there any workaround?
Thanks

[2016-03-14 08:56] beberlei commented on #15
@diego-vieira I will be looking into this.

[2016-03-14 19:14] carlwgeorge opened #16 "PECL release upload"
[This page](https://tideways.io/profiler/docs/setup/profiler-php-pecl-extension) mentions that this is a PECL extension, but I can't locate it on https://pecl.php.net.  Can releases be uploaded there?

[2016-03-15 05:39] vearutop opened #17 "Build fails for Homebrew PHP7 on OSX since v4.0.3"
Build is failing for `edfb29e` and `v4.0.3`
[code]
However it works fine for `v4.0.0-beta2`
[code]

And if you try to build `master` after `v4.0.0-beta2` configure, it will succeed.
[code]
So, probably `./configure` script was broken since `v4.0.0-beta2`.
Thanks.

[2016-03-18 15:39] beberlei commented on #17
Yes this is also discussed in #15, i am already investigating.

[2016-03-18 15:40] beberlei commented on #16
No sorry, not at the moment. You can get binaries from https://tideways.io/profiler/downloads that work with or without the Tideways service.

[2016-03-18 15:40] #16 closed

[2016-03-31 18:33] glenwong opened #18 "Latest master (v4.0.4) doesn't load"
When I built from master and tested with php7, I got the following error:
`PHP Warning:  PHP Startup: Unable to load dynamic library '/usr/local/php7/lib/php/extensions/no-debug-non-zts-20151012/tideways.so' - /usr/local/php7/lib/php/extensions/no-debug-non-zts-20151012/tideways.so: undefined symbol: zval_used_for_init in Unknown on line 0`

Syncing to the last release v4.0.3 and re-building worke

[2016-03-31 21:22] beberlei commented on #18
@glenwong which platform is that?

[2016-03-31 21:58] glenwong commented on #18
It is a bit of an older version of Ubuntu...maybe that's the problem?:

[code]

Also I installed php7 via this repo: https://github.com/kasparsd/php-7-debian

[2016-04-07 22:55] #15 closed

[2016-04-07 22:55] beberlei commented on #17
Fixed in a1a840f

[2016-04-07 22:55] #17 closed

[2016-04-07 23:10] beberlei commented on #18
@glenwong we don't use the `zval_used_for_init` global variable anywhere, so that is odd. I think you might be building the extension wrong. Since you probably have two PHP versoins installed, maybe you call configure without `--with-php-config=path/to/php7/bin/php-config`

[2016-04-07 23:51] glenwong commented on #18
Yeah, I did a search of the source code and also didn't see any references to zval_used_for_init. I have been using the configure path. That's how I got v4.0.3 to build. I just can't get v4.0.4 to build.

[2016-05-04 12:05] krakjoe opened #21 "Ignoring call_user_func[_array]"
PHP 7 broke this ability.

This morning I committed compiler option to allow it again.

[code]

Will be available in 7.0.7+

Have a look at the [commit](http://git.php.net/?p=php-src.git;a=commit;h=9bbee305e3bb1d85ddad6bad92409818953207d5), it effects other functions, you may want to exclude them from profiles by default (is_string etc, meaningless to profile that stuff).

I intend to do a PR to f

[2016-05-05 08:59] beberlei commented on #21
@krakjoe How do you change the compiler_options in an extension? During MINIT? I suppose it can only affect the engine when you change this before a zend_compile is called, so this option affects how code is stored in opcache?

[2016-05-05 09:10] krakjoe commented on #21
You only *have* to change them before compiler is invoked, many extensions do that ...

*Graceful* extensions should set them in RINIT, and restore them in RSHUTDOWN (xdebug does that, for example).

Opcache does not currently store the options code was compiled with, I have discussed this a little with dmitry, and he has suggested storing options in zend_script and zend_persistent_script. I'll po

[2016-05-05 09:15] beberlei commented on #21
@krakjoe I doubt this effort is worth it to make opcache aware of the options when caching, i was just wondering about how this affects opcache. But your statement about changing them before compiler is invoked is already everything I wanted to know. Will checkout what xdebug does to learn about this feature.

[2016-09-12 20:12] joehoyle opened #26 "Sampling with Tideways"
Is there any equivalent of `xhprof_sample_enable` in Tideways? Using `xhprof_enable` I can only get 1 level deep call stacks, which makes the data unusable for Flamegraphs and the like.

[2016-09-21 12:15] beberlei commented on #26
@joehoyle no, we removed this functionality, because we didn't need it ourselves and it interfered with a refactoring. Sorry :-)

[2016-09-21 12:15] #26 closed

[2016-09-21 17:25] rmccue commented on #26
@beberlei Would you be interested in re-adding it if there was community interest in supporting it?

[2016-09-29 06:23] pstephenson02 opened #28 "Extension setup"
I'm having trouble getting the extension to work properly. I am on Ubuntu 16.04.1 LTS with PHP 7. I ran through the installation on the [downloads](https://tideways.io/profiler/downloads) page:

[code]

[code]

[code]

EDIT: More config:

[code]

I've restarted nginx and php7.0-fpm.

I have this line at the beginning of my `index.php`:

[code]

Then I have a Silex finish middleware to write the fi

[2016-10-14 01:40] glenwong opened #29 "Use of php_url_parse_ex should be protected from NULL"
It seems usages of php_url_parse_ex should deal with the possibility of NULL. I saw some crashes related to the url coming back as NULL and looking in the php src this is definitely a possibility.

[2016-10-14 07:46] #29 closed

[2016-10-14 07:47] beberlei commented on #29
Thank you, that is a good pointer. Looking at the code of the method, it seems it will always return an url though, but php-src itself checks for == NULL as return value as well, so better be safe.

[2017-01-02 23:23] aftabnaveed opened #30 "HHVM support"
Is your extension supported on HHVM?

[2017-01-03 14:10] beberlei commented on #30
No, and we have scraped plans to support HHVM going forwards, because of PHP 7 its usage numbers and requests for supporting it further have decreased a lot. Sorry.

You can use the Composer package [tideways/profiler](https://github.com/tideways/profiler) to get callgraph profiling support working. See the docs for installation: https://tideways.io/profiler/docs/setup/hhvm

But we don't support a

[2017-01-03 14:10] #30 closed

[2017-01-26 12:39] kornrunner opened #33 "PHP 7.1"
Hi,

Just wanted to check if you're planning to support PHP 7.1, and if there's any timeline?

Thanks!

[2017-01-26 13:05] kornrunner commented on #33
Looks like it's already there, sorry!

[2017-01-26 13:05] #33 closed

[2017-03-03 15:26] beberlei commented on #26
@rmccue to be honest no, since we have removed much of the code that makes the extension dynamically switch between callgraph and sampling modes and we really don't need the flamegraph sampling mode for our own use-case. I think it makes more sense to have a dedicated extension just for flamegraph profiling, but I haven't had time to work on one yet.

[2017-03-04 02:17] rmccue commented on #26
Having dug into the code a bit (in an effort to port XHProf to PHP7 with sampling support), I agree that it's likely better as a separate extension. We're (@humanmade) quite interested in retaining sampling, so I'll investigate splitting it out into a separate extension that can work alongside the Tideways extension. :)

[2017-03-31 14:28] Woellchen opened #37 "SIGSEGV on tideways_span_annotate using TwExtensionSpan::annotate"
hey,
we at InnoGames have really weird issues with the tideways extension
whenever we have multiple annotate() calls, the profiler extension tends to segfault immediately
it does not happen in all cases, just sometimes
however i was able to get a coredump, find the backtrace attached below
reproduced it locally, versions and configs may differ on our live systems, but same issues there
seems to fa

[2017-03-31 16:47] sergeyklay commented on #37
@Woellchen Could you please install php debug symbols and send backtrace again?

[2017-03-31 16:59] sergeyklay commented on #37
Could you please try without `xdebug`?

[2017-04-03 09:21] Woellchen commented on #37
i have revamped my test setup and here is a possibly better backtrace now (without xdebug):

[code]

[2017-04-03 11:51] Woellchen commented on #37
so it fails at `zend_hash_merge(Z_ARRVAL_P(span_annotations), Z_ARRVAL_P(annotations), (copy_ctor_func_t) zval_add_ref, 1);`
or internally at `return GC_REFCOUNT(Z_COUNTED_P(pz));` as far as i could see
i hope this info can help you as well:

[code]

[2017-04-05 10:04] beberlei commented on #37
Just saw this now, sorry for the late response. Your report is very thorough, thank you, i am looking into it right now.

[2017-04-05 10:46] beberlei commented on #37
I cannot reproduce this yet, there seems to be something missing:

[code]

@Woellchen does that snippet cause a segfault for you? Can you tell me what types $iterations and $skippedQuests are in your reproduce case? And what does `...` mean. I assumed it means executed in different functions, hence the `startSpan` but it doesnt cause the segfault.

[2017-04-05 10:52] Woellchen commented on #37
the types are both int, for example
[code]
the `...` means logic in between, same function though
and that is it. does not segfault ALL the time, but certainly often

[2017-04-05 10:55] beberlei commented on #37
@Woellchen in your case it probably depends on the sample rate, if the request is traced or not. Can you check `var_dump(\Tideways\Profiler::isTracing());` before the segfaulting line is called, from my understanding of the issue it should always be true when it segfaults and false if it doesnt.

[2017-04-05 11:50] Woellchen commented on #37
@beberlei hm locally i have tracing on always, and yes, there it almost breaks on every request
live is different, theory could be true. i can try to verify that

[2017-04-05 11:58] beberlei commented on #37
@Woellchen we could not reproduce it yet, but we have rewritten the code not to use zend_hash_merge anymore, which makes it easier to understand how the refcounting must work. Can you look at the #38 pull request and compile it for your environment and check if the segefaults are gone?

[2017-04-05 12:11] Woellchen commented on #37
@beberlei will do, thank you! will keep you posted

[2017-04-05 12:18] Woellchen commented on #37
@beberlei i am now testing, meanwhile i have news that proof your theory:
[code]
AND
[code]

[2017-04-05 12:27] Woellchen commented on #37
@beberlei i tried very hard but no segfaults anymore! 👍
compiled old version -> segfault
compiled new version -> no segfault
old -> segfault
new -> no segfault

i therefore assume the issue is fixed and everything is working!
thanks so much for your support

[2017-04-05 12:37] beberlei commented on #37
@Woellchen we will try to reproduce why this happend, but the new code is also more efficient/faster, so we will keep it going forward. A PHP 5 version of that is still needed and then we will release a new version probably beginning next week.

[2017-04-05 12:46] Woellchen commented on #37
@beberlei alright looking forward to it!

[2017-04-10 13:25] beberlei commented on #37
Fixed in GH-38, we are building a new binary release now and hope to release it today or tomorrow.

[2017-04-10 13:25] #37 closed

[2017-04-10 13:28] beberlei commented on #28
When `tideways_disable` returns NULL, then either enable was never called or disable was called before from someone else (profiler is already stopped).

[2017-04-10 13:28] #28 closed

[2017-04-10 13:29] beberlei commented on #18
I have linked this kind of mistake to a mismatch of debug/NTS/ZTS flags previously, this must be the case here.

[2017-04-10 13:29] #18 closed

[2017-04-19 10:29] KomaBeyond opened #40 "Error in tideways-daemon"
Ok, first i am use this in the alpinelinux. So i fllow the steps in "Other Linux" section. When i download the file of  "tideways-daemon_linux_amd64-1.2.5.tar.gz"  and then run by the command and there was an error occurred.
##### useradd command not found in alpinelinux, because we use adduser instead.
Ok, i changed the command by myself and run it again, another error occurred.
##### /usr/bin/ti

[2017-04-19 10:31] beberlei commented on #40
The "Other Linux" section still assumes, you are using a glibc based Linux. The daemon for Alpine is here:

https://s3-eu-west-1.amazonaws.com/tideways/daemon/1.5.3/tideways-daemon-v1.5.3-alpine.tar.gz

[2017-04-19 10:32] beberlei commented on #40
Please write support@tideways.io for support questions in the future, this repository is just for the open source part of the PHP extension.

[2017-04-19 10:32] #40 closed

[2017-06-27 15:28] rcanavan opened #41 "build failure when PDO is disabled"
the profiler fails to build if PHP has been build without PDO. We build PHP 7.1.6 with `--disable-all` and  `--without-pdo-sqlite -without-pdo-mysql  --without-pgsql  --without-pdo-pgsql`. `configure` should check that /php_pdo_driver.h exists, and any references to pdo should be #ifdef-ed out of tideways.c

[code]

[2017-08-03 09:30] beberlei commented on #41
You are right, this can be improved

[2017-09-28 22:31] Krinkle opened #42 "Timer Tests (tideways_005.phpt) is flaky"
For the past few commits, this test is proving to be flaky. Failing or passing between builds for no apparent reason.

<https://travis-ci.org/tideways/php-profiler-extension/builds>
*  [Build #506 failed](https://travis-ci.org/tideways/php-profiler-extension/builds/245786357) (PHP 7.1 fails; PHP 5.4, 5.5 and others pass)
* [Build #505 failed](https://travis-ci.org/tideways/php-profiler-extension/b

[2017-09-28 22:31] Krinkle commented on #5
I suspect this isn't issue with the architecture but rather a problem in Tideways (or its tests) in general. For the past few commits, the same test has been flaky in supported environments as well.

See also https://github.com/tideways/php-profiler-extension/issues/42

[2017-09-28 23:18] Krinkle commented on #26
@rmccue We ran into the same issue when evaluating Tideways for PHP 7 at Wikimedia Foundation. See <https://phabricator.wikimedia.org/T176916>. Curious what your ended up doing, and whether we can collaborate or find a solution together.

[2017-09-29 12:17] beberlei commented on #42
This test has always been flawky, becaus of the way it is setup. The problem is usually that usleep() isnt actually interrupted so often, which means it runs a little longer than defined, and this produces the problem. It depends on the platform how efficient this is, a better approach is to switch the usleep with a while(true) loop that exits after some time using microtime() comparisons. This us

[2017-10-06 06:03] rmccue commented on #26
@Krinkle I ended up pinging Phacility directly about XHProf, and they pushed an experimental branch for PHP 7: https://github.com/phacility/xhprof/tree/experimental

We're definitely still interested in keeping XHProf + sampling for PHP 7 in an ongoing matter, so would love to collaborate if we can. This issue probably isn't the best place to discuss that, but feel free to email `ryan[at]hmn.md` i

[2017-10-12 06:29] janbuecker opened #43 "Issues with PHP 7.1.10 on macOS"
I've upgraded PHP to 7.1.10 on macOS High Sierra and the tideways extension broke. I've tried to reinstall the extension and even built it from source without luck.

[code]

Any suggestions?

[2017-11-05 10:13] #5 closed

[2017-11-05 10:13] #42 closed

[2017-11-05 10:13] beberlei commented on #41
Fixed.

[2017-11-05 10:13] #41 closed

[2017-11-06 18:32] rcanavan commented on #41
tested, works for me. Thanks.

[2017-11-14 05:08] Krinkle commented on #43
See also https://github.com/tideways/homebrew-profiler/issues/4, which describes a similar problem.

[2017-11-18 22:32] beberlei commented on #43
See the fix and discussion in `tideways/homebrew-profiler#4

[2017-11-18 22:32] #43 closed

[2017-12-05 23:50] arkonan opened #44 "Segmentation fault when Smarty::fetch() is called on a Smarty_Internal_Template object"
From the smarty code documentation for `Smarty_Internal_TemplateBase::fetch()` the `$template` parameter can be `null`, a string or a template object:

[code]

`tw_trace_callback_smarty3_template()` does not account for passing a Smarty_Internal_Template object as the `$template` parameter.  If I'm reading it correctly it assumes that either `$template` is a string, or `fetch()` was called on a Sm

[2017-12-07 10:18] beberlei commented on #44
@arkonan I will look into it immediately, thank you for the report.

[2017-12-07 12:55] beberlei commented on #44
Fixed in https://github.com/tideways/php-profiler-extension/commit/8842bb37bffe775480d47205347a9c6a26181b05 - can you test by compiling yourself on MacOS? Otherwise I can notify you again when I finished uploading the v4.1.5 to the homebrew repository.

[2017-12-07 12:55] #44 closed

[2017-12-07 14:10] arkonan commented on #44
Confirmed fixed after 8842bb3.  Thanks for the quick response!

[2017-12-07 14:27] beberlei commented on #44
@arkonan thank you for the detailed report, it was very easy to find :-)

[2018-01-04 17:46] beberlei opened #45 "Certain scenarios illegally overwrite callgraph_buckets memory"
When callgraph profiling a large Laravel code base at some point a frame is allocated into the callgraph_buckets memory for whatever reason:

[code]

[code]

[2018-01-05 14:31] beberlei commented on #45
Fixed in https://github.com/tideways/php-profiler-extension/commit/7798644ea4452c11ca2145dc532871e505978655

[2018-01-05 14:31] #45 closed

[2018-02-20 12:02] andypost opened #48 "Segfault using v5.0-beta1"
I used to compile `v5.0-beta1` in Alpine docker container - PHP 7.1.14

Tested small scripts - works fine!

But once I started to profile Drupal I got segfault (not yet found how to get what is caused it)
The integration I'm working on is https://www.drupal.org/project/xhprof/issues/2945687

[2018-02-20 14:26] beberlei commented on #48
@andypost thanks for the report. can you check the syslog in the container with the segfault line? it should be something along the lines of `php-fpm[32649]: segfault at 8 ip 00007f3d6192e84e sp 00007fff068fac90 error 4 in tideways_xhprof.so[7f3d61928000+18000]`. if you have this, you can calculate the file+line or address in the `objdump` of the shared address where the segfault happend. I just n

[2018-02-20 19:57] andypost commented on #48
Thanx for quick reply, checking
`php_1    | [20-Feb-2018 19:21:46] WARNING: [pool app] child 9 exited on signal 11 (SIGSEGV - core dumped) after 15.137710 seconds from start`

diggin how to get coredump in docker)
[code]

[2018-02-20 20:23] andypost commented on #48
Setting on host helped according guide and then I got it
https://ma.ttias.be/generate-php-core-dumps-segfaults-php-fpm/

[code]

[2018-02-20 20:27] andypost commented on #48
And now I got line **tracing.c:95**
kinda related? https://github.com/tideways/php-xhprof-extension/issues/45
[code]

[2018-02-20 20:44] andypost commented on #48
FYI I did build extension from master branch & looks it works fine! probably it's time to release second beta)

[2018-02-21 20:33] beberlei commented on #48
@andypost thank you, sorry so much :-( tagged a new version on master.

[2018-02-21 20:33] #48 closed

[2018-03-06 03:42] andypost opened #49 "ppc64le fails to build"
Here's a build problem on ppc64le https://github.com/alpinelinux/aports/commit/124fec1ddf7a2c52dcf6a318db918a44fe10f150

[2018-03-06 13:06] andypost commented on #49
Looks pretty similar to https://bugs.php.net/bug.php?id=70015

[2018-03-07 04:35] andypost commented on #49
Here's a patch to incorporate https://github.com/alpinelinux/aports/commit/15a4523925c0dd7f2ea35ed0fdee4460c6cfab10

[2018-03-08 04:03] andypost commented on #49
Also it does not work for `armhf` probably it needs workaround as well https://stackoverflow.com/questions/40454157/is-there-an-equivalent-instruction-to-rdtsc-in-arm

[2018-03-08 21:32] andypost commented on #49
Looks the best example is https://github.com/google/benchmark/blob/v1.1.0/src/cycleclock.h#L111

[2018-03-09 11:57] 1ma opened #51 "serialize() vs json_encode()"
I've noticed that all the examples use `serialize()` to convert the arrays returned by `tideways_xhprof_disable()` to text.

Is there any reason for **not** serializing these arrays with `json_encode()` instead?

[2018-03-09 22:00] beberlei commented on #51
@1ma serialize is used, because the default XHProf GUIs uses that format in its decoding. You can of course use json_encode. Although it can break if you use non utf-8 characters in function names (which you shouldn't do and usually is not done).

[2018-03-09 22:00] #51 closed

[2018-07-11 07:39] Panoptik opened #57 "Segmentation fault. php-fpm7.1 (xdebug-conflict)"
After running xhgui under the nginx + fpm it crushes
Here is gdb core dump backtrace

OS: Ubuntu 16.04.4 LTS
Php info:
PHP 7.1.19-1+ubuntu16.04.1+deb.sury.org+1 (fpm-fcgi) (built: Jul  9 2018 13:12:24)
Copyright (c) 1997-2018 The PHP Group
Zend Engine v3.1.0, Copyright (c) 1998-2018 Zend Technologies
    with the ionCube PHP Loader (enabled) + Intrusion Protection from ioncube24.com (unconfigured)

[2018-07-11 07:59] Panoptik commented on #57
Currently disabling xdebug extension did the trick

[2018-07-11 08:52] Panoptik commented on #57
@beberlei thanks for quick reply.
Indeed without tideways_xhprof module segfault still occurs
Sorry for my fail. I have a lack of knowledge during coredump exploration.
Seems it is really conflict between xdebug with mongo.
But hope it can be useful for anyone else.

[2018-07-11 09:09] Panoptik commented on #57
Updateding mongodb-ext from 1.2 to 1.5.1 fixed the problem

[2018-07-11 09:09] #57 closed

[2018-08-23 09:53] toxmc opened #60 "extension did not record transaction SQL like "begin","rollback","commit""
tideways => 4.1.6
extension did not record transaction SQL like "begin","rollback","commit"

PDO function list:
![image](https://user-images.githubusercontent.com/3990846/44518184-31aa1680-a6fc-11e8-948e-810822fc8e85.png)

SQL list:
![image](https://user-images.githubusercontent.com/3990846/44518550-1be92100-a6fd-11e8-97b0-764af861efea.png)

[2018-08-23 09:59] beberlei commented on #60
Hi @toxmc

You are right, but we will not change this anymore. The PHP extension 4.1.6 is in maintenance mode, we have since released a version 5.0 for the SQL and Timeline profiling that is not open-source and only works with our tideways.com product.

You can still get the original XHProf callgraph profiling code here from the `master` branch of this repository.

[2018-08-23 09:59] #60 closed

[2018-08-23 17:20] Firehed opened #61 "Build fails on PHP 7.3 (beta)"
Hi,

I've been doing some prep work for the upcoming PHP 7.3 release, and found that the latest 4.x (4.1.6) release of the extension fails to build, emitting the following errors:

[code]

Obviously some stuff may change between now and the actual 7.3 release, but there probably won't be significant changes. It builds without any errors or warnings through 7.2.9.

Build environment: Official PHP 7

[2018-08-24 13:11] beberlei commented on #61
@Firehed thanks for opening the issue, i have this on my schedule. It is a simple fix, the GC stats API changed between 7.2 and 7.3 and this just needs to be handled.

[2018-09-12 10:11] spriebsch opened #62 "README example with outdated function names"
README refers to tideways_xhprof_* functions, I guess it should be tideways_* instead.

[2018-09-12 16:03] beberlei commented on #62
No, `tideways_xhprof_*` is correct. This extension `tideways_xhprof` was extracted out of our codebase that is now closed source and the open source part now handles only the XHProf part.

To get tideways our product and `tideways` extension it is available through the documentation and download section on our website.

[2018-09-12 16:03] #62 closed

[2018-09-27 18:58] danepowell opened #63 "Error in data format?"
I'm trying to use the XHProf UI (the latest available, from back in 2015) to view data generated by Tideways  (master branch, afc61bd1e3336ef207247c5e92ae6b5dab0a6e1c). I'm following the instructions in the Tideways readme pretty much to the letter to capture data. Here's what gets written: [5bad2159280f2.Drush.xhprof.txt](https://github.com/tideways/php-xhprof-extension/files/2425694/5bad2159280f

[2018-09-29 08:56] beberlei commented on #63
@danepowell Yes you are right, we are seeing this ourselves sometime. It looks like either the recursion detection is not working, or the instrumentation adds some items incorrectly. What you can do right now is unset() all entries where child and parent are the same.

[2018-09-30 20:05] beberlei commented on #61
@Firehed i pushed a commit for 7.3 support.

[2018-09-30 20:05] #61 closed

[2018-10-25 02:44] RichardHeelin opened #65 "SIGSEGV triggered by `tracing_exception_span_create`"
We noticed that some of our backend processes started to error with segmentation faults. Upon digging into the core dumps we found that the issue seems to be related to calls to `tracing_exception_span_create` when nested inside multiple calls to `tideways_execute_ex`.

We have so far not been able to reproduce in a simple test case, but can always reproduce with our full stack when a php fatal is

[2018-10-31 20:07] beberlei commented on #65
This relates to the `tideways` extension, not this `tideways_xhprof` extension. Fixed the issue in communication with the customer and published a new stable version 5.0.36 yesterday.

[2018-10-31 20:07] #65 closed

[2018-12-17 00:13] blkperl opened #67 "Release date for v5.0"
v5.0-beta2 was tagged a long time ago. Is there a release date for v5.0?

[2018-12-20 11:53] beberlei commented on #67
I would consider the master branch to be stable enough to make the release and will try to find some time to do this over the holidays.

[2018-12-21 16:04] blkperl opened #68 "Cut a new release of the 4.x branch"
It looks like the 4.x branch has support for PHP 7.3 but there is a not a new release that contains PHP 7.3 support.

[2019-01-04 10:43] hxpro opened #69 "rpm for version 4.1.6"
I use tideways-php at CentOS7 from yum repository defined like this:
[code]
The new version `tideways-php-5.0.36` is not compatible with [xhgui](https://github.com/perftools/xhgui/). I don't know why, but the Error is `Call to undefined function tideways_enable()`. To quick fix I want to use older version 4.1.6, but I am not able to downgrade to this version from repository.
Please, how can I get

[2019-01-08 13:31] hotrush opened #70 "Any plans for PHP 7.3?"

[2019-01-08 13:32] beberlei commented on #70
@hotrush The master branch compiles with PHP 7.3, what do you mean plans?

[2019-01-08 13:34] beberlei commented on #69
@hxpro the tideways-php package is soley for use with the "Tideways" service, not with xhgui. To get support for xgui you need to compile the master branch of this repository. We are not currently packaging the "tideways_xhprof" extension, it is something we plan to do in the future, but there is no ETA yet.

[2019-01-08 13:34] #69 closed

[2019-01-08 13:34] hotrush commented on #70
@beberlei latest release doesn't work with 7.3. I don't know if code from master branch is stable and production ready

[2019-01-09 21:03] orklah opened #71 "[Bug] Download DLL link broken"
Hi,

When we follow the "Download DLL" on the README, we end up on this page:
https://ci.appveyor.com/project/tideways/php-profiler-extension

The download seem broken.

Thanks

[2019-01-16 23:11] beberlei commented on #70
@hotrush i pushed two new tags 4.1.7 and 5.0-beta3 which are both compatible with 7.3

[2019-01-16 23:11] #70 closed

[2019-01-16 23:12] beberlei commented on #68
A new 4.1.7 tag has been published including php 7.3 support

[2019-01-16 23:12] #68 closed

[2019-01-17 09:05] hotrush commented on #70
thanks

[2019-02-02 12:31] beberlei commented on #71
@orklah you need to click through to the build targeting your PHP version and architecture and then go to the "Artifacts" tab to see the ZIP download. Its not a link to the direct download.

[2019-02-02 12:31] #71 closed

[2019-02-03 02:59] andypost opened #72 "5 b3 build x86 fails"
I pushed upgrade to 5 beta 3 (for php 7.2) https://github.com/alpinelinux/aports/commit/2d7cbaa7a0838d0eab7176e61bbb3874892020f0

But build for x86 (not 64 bit) fails, log https://build.alpinelinux.org/buildlogs/build-edge-x86/testing/php7-tideways_xhprof/php7-tideways_xhprof-5.0_beta3-r1.log
[code]

Any idea what's wrong?

[2019-02-08 10:06] andypost commented on #72
btw aarch64 build fails on
[code]

[2019-02-08 10:21] andypost commented on #72
and the same error on all arm* & s390x arches

[2019-02-08 10:40] andypost commented on #72
Looks related https://github.com/google/benchmark/pull/540

[2019-02-28 00:47] cyberpower678 opened #75 "Unable to build tideways. Fatal error during make."
When running the make command to build tideways, it always comes back with fatal error: 'php.h' file not found

Obviously there should be a php.h somewhere and it's not with the tideways.

[2019-02-28 01:00] cyberpower678 commented on #75
FTR, this was from following the instructions provided at https://tideways.com/profiler/xhprof-for-php7

[2019-02-28 11:31] beberlei commented on #75
@cyberpower678 php.ini is part of the dev headers of php itself, what system are you on? on Ubuntu/Debian for example there is a `php7.2-dev` package that you need to install.

[2019-02-28 11:31] #75 closed

[2019-02-28 12:47] cyberpower678 commented on #75
I’m using macOS.

[2019-03-02 13:32] cyberpower678 commented on #75
Hello?   How do I install php-dev on MacOS?

[2019-03-03 15:25] hAtul89 commented on #70
@beberlei  Hi. I'm not sure this is resolved or not, I have just created a post for XHGUI and not sure if the problem is actually with xhprof:
Could you please review?
https://github.com/perftools/xhgui/issues/260

[2019-03-04 07:41] hAtul89 opened #76 "Module compiled with module API=20170718 - PHP compiled with module API=20180731"
Following the post from XHGUI: https://github.com/perftools/xhgui/issues/260

This is the error I get, seems like php compiles tideways_xhprof as an old php7.2 instead of 7.3
[code]

Although all my PHP configs sym-link to the right current version:
[code]

The file: `/etc/php/7.3/mods-available/tideways.ini` content is set to the file `/usr/lib/php/20180731/tideways_xhprof.so`:
[code]

I'll just

[2019-03-04 07:55] beberlei commented on #76
Please try explicitly with this commands:

[code]

[2019-03-04 08:24] hAtul89 commented on #76
Unfortunately, same result.

I tried removing the tideways.ini file from my previous php version (`/etc/php/7.2/mods-available/tideways.ini`) and I get the same result + when running `sudo phpenmod tideways` i get:

[code]

Why is still relevant.

[2019-03-04 10:05] beberlei commented on #76
@hAtul89 Can you check the contents of `/usr/bin/php-config7.3`?

[2019-03-04 10:23] hAtul89 commented on #76
Sure.
Never touched it tough..

[code]

[2019-03-04 10:26] beberlei commented on #76
@hAtul89 can you call `make distclean` then phpize + configure etc again? you have artifacts lying around, that is why its not recompiled correctly.

[2019-03-08 11:18] #76 closed

[2019-04-05 17:11] Rarst opened #78 "Windows binaries for PHP 7.3 not built"
Hi! As far as I follow info PHP 7.3 is supported, but the suggested place to get Windows binaries doesn't seem to have 7.3 target at the moment https://ci.appveyor.com/project/tideways/php-profiler-extension

Can this be added please? Thanks in advance. :)

[2019-04-07 09:23] beberlei commented on #78
Added the builds in https://github.com/tideways/php-xhprof-extension/commit/71be12cc56f64faefbbd4dbaa67d69955393adbd, they are still running for the first time right now but will be finished in an hour:

[2019-04-07 09:23] #78 closed

[2019-04-09 18:17] blkperl opened #79 "Release date for v5.0"
In #67 beta3 was published. Will the non beta version be published soon?

[2019-04-27 13:43] Rarst opened #80 "Crashing Apache after Windows 7 to 10 updgrade"
I've upgraded my desktop from Windows 7 to 10, without any changes to my portable Apache/MySQL/PHP web stack.

After the update having tideways_xhprof binary enabled started to crash Apache on general browsing of PHP pages (not trying to profile) with following message:

[code]

Binary version `php_tideways_xhprof-5.0.0-master-39806cc8-7.3-vc15-x86_64.dll`

Any pointers how can I try tweak or trou

[2019-04-27 15:27] beberlei commented on #80
@Rarst is the crash related to Tideways? Does it go away when you remove the tideways DLL?

[2019-04-27 16:01] Rarst commented on #80
Yes, as far as I see it, if I comment out DLL and restart Apache the crash goes away (and the other way around).

[2019-04-27 16:07] Rarst commented on #80
I thought to look in Windows event log, and it explicitly attributes the crash to tideways DLL:

<details>

[code]

</details>

[2019-04-27 16:15] beberlei commented on #80
Unfortunately I don't know at all how to debug a segfault on Windows :-( There needs to be some way to get a stacktrace, or at least the file and line where the crash occurred somehow.

[2019-04-27 16:24] Rarst commented on #80
There is a `Report.wer` attached to the event, not sure if it has anything helpful:

<details>

[code]
</details>

[2019-04-28 16:01] beberlei commented on #80
I asked around how to proceed and if you don't want to install Visual Studio then running with https://docs.microsoft.com/en-us/sysinternals/downloads/procdump could be an option to find out the stack trace. The DLLs are not build with debug symbols, which could complicate the stack trace details, but please check if you can find something out this way.

[2019-04-28 16:37] Rarst commented on #80
Ok, I installed procdump as postmortem debugger, reproduced the crash, got `.dmp` file, and fed it into WinDbg, and ran commands in suggested.

Here is the result;

<details>

[code]
</details>

Is this helpful?.. Let me know if you want me to send full `dmp` file your way.

[2019-04-29 07:26] beberlei commented on #80
@Rarst YES, it has the stacktrace :-) Thank you very much, I will look if that helps me fix the problem.

[2019-05-03 23:43] blkperl commented on #79
@beberlei any update?

[2019-05-12 08:33] vearutop opened #81 "CPU time exceeds wall time on PHP 7.2 and is zero on PHP 7.3"
In case of nested function calls with both 4.1.7 and 5.0.0-beta3 and PHP 7.2.18 CPU time is zero or exceeds wall time ([v4](https://github.com/phperf/profiler-docker/blob/master/test/php_cpu_v4_72.json#L30), [v5](https://github.com/phperf/profiler-docker/blob/master/test/php_cpu_v5_72.json#L37)):
[code]
[code]

In case of PHP 7.3.5 CPU time has zero value for all nodes ([v4](https://github.com/php

[2019-05-21 14:05] beberlei commented on #81
I get these results for PHP 7.3.5, which are the expected https://gist.github.com/beberlei/240ad76e745db9a8b2786c91143c7d62 this is running on Ubuntu 18.10, No Docker.

Getting higher CPU than walltime must be caused by some kind of clock glitch. I am unsure about how Docker exposes these APIs to containers, I would need to investigate further.

[2019-05-21 14:34] vearutop commented on #81
You're right, those results were taken with docker running in WSL, I now rechecked with docker on Mac and could not reproduce the issue with zero CPU time.

[2019-05-21 14:34] #81 closed

[2019-05-21 16:16] beberlei commented on #81
@vearutop You were running the docker container under windows? Interesting, that probably has lots of implications on how the clock_gettime and rusage calls are emulated.

[2019-05-21 17:10] vearutop commented on #81
@beberlei yes, under native Linux Docker in Windows' Windows Subsystem for Linux (not a Hyper-V Docker for Windows or VirtualBox Docker Machine). It works well most of the time I use it, so I totally forgot that the environment can be unstable at edge cases.

[2019-05-21 21:34] beberlei commented on #70
@hAtul89 you compiled tideways_xhprof against the wrong php. On multi php systems like Ubuntu/Debian this happens when you don't pass `--with-php-config` to `./configure` with the right path.

[2019-06-15 18:01] blkperl opened #82 "php-xhprof-extension-4.1.7 doesn't build on php-7.4.0alpha1"
When trying to install php-xhprof-extension-4.1.7 on php-7.4.0alpha1 it fails with a compile error.

[code]

[2019-06-20 12:28] Mte90 opened #83 "A lot of trace files generated automatically"
We are getting this problem right now and I don't know what is happening https://github.com/Varying-Vagrant-Vagrants/VVV/issues/1866#issuecomment-504002685

[2019-06-20 12:37] beberlei commented on #83
Not a Tideways extension problem, see comment on the issue.

[2019-06-20 12:37] #83 closed

[2019-06-20 13:57] beberlei commented on #82
Version 4.1.7 will not get 7.4 support as it is end of life, only the v5 branch (master) will get it.

PHP 7.4 support for master will be added during beta or RC period.

[2019-06-20 13:57] #82 closed

[2019-07-02 11:31] DuaelFr commented on #63
Why don't you replace the `return;` by a `continue;`? This would prevent the entire execution to fail as the expected return of this function is an array, not `null`.

[2019-08-10 06:30] jnlinh commented on #80
Thank you very much.
[kenhmua1s.com](url)
[topthietbi.com](url)

[2019-08-17 19:43] beberlei commented on #63
Fixed by https://github.com/tideways/php-xhprof-extension/commit/710f532cb3a3c2b6d7808f35bab4182a19f723bd

[2019-08-17 19:43] #63 closed

[2019-08-17 20:16] beberlei commented on #21
Implemented in ac0062b

[2019-08-17 20:16] #21 closed

[2019-08-19 08:13] andypost commented on #72
x86, arm and ppc64 were fixed in https://github.com/tideways/php-xhprof-extension/pull/74

but s390x still segfailts - details https://github.com/tideways/php-xhprof-extension/pull/74#issuecomment-522457306

[2019-08-19 08:30] beberlei commented on #79
@blkperl I have tagged 5.0 beta 4 now, which will hopefully be the last beta before the final release in the next weeks.

[2019-09-11 17:40] beberlei commented on #79
5.0 is now tagged and released

[2019-09-11 17:40] #79 closed

[2019-09-12 07:31] Rarst commented on #80
Yeah, think I am hooking that to WordPress shutdown handler in my profiling wiring.

[2019-10-09 11:49] stronk7 opened #87 "Execution time (wt) missing with 5.0.0, working perfectly 4.1.7 (MacOS)"
Not sure if this has been already commented, but have failed to find any reference.

Using locally compiled 5.0.0 all execution times are zero.  Previous, also locally compiled 4.1.7 returns wt properly.

macOS 10.14.6 18G103
Xcode 11.1 11A1027
PHP 7.3

Just detected when creating a Portfile for MacPorts: https://github.com/stronk7/macports-ports/blob/php-tideways_xhprof/php/php-tideways_xhprof/Po

[2019-10-09 11:56] beberlei commented on #87
Right, that was fixed in https://github.com/tideways/php-xhprof-extension/pull/86 - i didn't tag and release a v5.0.1 yet. Will do that asap.

[2019-10-09 11:56] #87 closed

[2019-10-09 18:55] Zanadar opened #88 "Download feed for SaaS extension"
Hey!
I'm one of the maintainers of the https://github.com/cloudfoundry/php-buildpack
We currently build php with support for `tideways_xhprof ` in multiple versions (one pinned at 4.1.7 another tracking the latest releases). Is there a feed somewhere where we can consume released versions of the `tideways` extension so that we can keep up to date with releases there instead of pinning back?

Thank

[2019-10-09 19:16] beberlei commented on #88
@Zanadar can you point me to some code where tideways is installed? I couldn't find it in the repo.

We renamed the open-source extension from `tideways` to `tideways_xhprof`, because it clashed with the `tideways` extension that we use for our SaaS.

You can directly download the latest versions of the `tideways` extension and the tideways-daemon from:

- https://tideways.com/profiler/downloads/l

[2019-10-09 20:18] Zanadar commented on #88
https://github.com/cloudfoundry/binary-builder/blob/master/recipe/php_common_recipes.rb is the code we execute when do our builds of php.

From the looks of it those extension links are for pre-compiled binaries, which I guess we'd need to do some license checking if we can redistribute?

Generally we compile php extensions from source when we do our overall build of php. We keep our config for ex

[2019-10-09 20:57] beberlei commented on #88
@Zanadar I looked up the recipe and the commit that added it. It looks they wanted to use the open source part of the code, so i would reocmmend to stay with this repository here and go for the recent version 5.0.1 instead of 4.1.7. It should "just work" with the Pecl Recipe, but I haven't tested it.

[2019-10-10 00:01] Zanadar commented on #88
Sounds good. Thanks for the direction. If we decide to package both OSS
code and your proprietary extension in some way (if that's even
doable/legally possible) I'll check back in.

On Wed, Oct 9, 2019 at 4:57 PM Benjamin Eberlei <notifications@github.com>
wrote:

[2019-10-21 15:40] liwo opened #89 "Segfault on random requests"
We have tried to use tideways xhprof on one of our servers, which for reasons outside our immediate control still runs on PHP 7.1.

The extension runs, but on every third request (as far as we could determine) we get a segfault. PHP is setup with FPM, and as far as I can see we had two children running. So every third request could well be the second request to a given FPM child. Apparently it doe

[2019-10-21 16:52] liwo commented on #89
Hi Dan,

thanks for your time.

Creating a docker image will be hard, as this is a server with several different PHP applications running on it.

The application we are trying to profile is a shopware instance.

The list of extensions:
[code]

xdebug is not installed on the server. We can try to remove opcache tomorrow and see what happens.

Again, thanks for your time.

Best,
Lienhart

[2019-10-21 16:53] Danack commented on #89
Actually, another thought - even though you might not be able to upgrade to the latest version of PHP right now, please could you try reproducing the issue against PHP 7.3?

There were a number of segfaults that have been fixed, that may be lurking, but only showing when the xhprof extension is also being run.

[2019-10-22 10:23] Danack commented on #89
If disabling opcache does make the segfault stop happening, you could then look at turning off the particular optimisation that is likely causing the issue. If you have the default setting, you probably have the opcache optimization level set as:

[code]

Looking at the code, turning off the final bit, would disable an optimisation that has caused a similar issue https://bugs.php.net/bug.php?id=73

[2019-10-23 09:56] liwo commented on #89
Hi Dan,

thanks for your time!

We disabled opcache completely, unfortunately the segfaults continued. So it seems like opcache is not the (only) problem here. Any other thoughts?

[2019-10-23 10:53] Danack commented on #89
It would definitely be worth trying against PHP 7.3. Even if your application might not fully work against that version of PHP, as there were quite a few known issues in 7.1 (which means there are likely still some unknown issues) similar to this issue, figuring out if it's still happening in 7.3 or not would be useful information. My suspicion is that it would still be present in 7.3.

Other than

[2019-10-30 14:52] liwo commented on #89
Hi Ben,

sorry for the late reply. I was a bit caught up in other stuff the past couple days and my colleague managed to get enough profiling data to work with (as only every 3rd request died it was possible to profile, but not convenient ;-)), so I didn't have pressure. I'm planning to debug the issue with the info provided by Dan next week.

[2019-11-05 18:16] liwo commented on #89
Hi Dan, Ben,

it took me some time and I had trouble reproducing the issue today on the same server. I only got error messages `Call to undefined function tideways_xhprof_enable()` on the second or third request. But that got us quite a bit further.

In the end, I managed to reliably reproduce a completely weird behavior in a small docker environment: https://gist.github.com/liwo/807106b9577087380

[2019-11-06 14:23] beberlei commented on #89
@liwo thank you for this, we were able to see the crash as well. This is extremely helpful. We are getting back to you as soon as we know what the culprit is.

[2019-11-13 09:27] nagaho opened #90 "Could you support for php-7.4?"

[2019-11-13 16:36] beberlei commented on #90
@nagaho the master branch / v5.0 already compiles on PHP 7.4 release candidates. We are working on building it on our packaging stack so that it will get a release at latest once 7.4 is stable.

[2019-11-14 03:28] nagaho commented on #90
Thank you. I'll check it.

[2019-11-14 03:28] #90 closed

[2019-11-14 15:45] beberlei commented on #90
Packages here: https://github.com/tideways/php-xhprof-extension/releases/tag/v5.0.2

[2019-12-06 15:40] Rarst commented on #80
Seems to work again, after round of updates to Apache 2.4.41 / PHP 7.4 / Tideways 5.0.2 / whatever else had changed since.

[2019-12-12 21:40] #88 closed

[2019-12-13 05:43] Rarst commented on #80
Aaaand the problem is back. :(

[2020-01-24 14:43] distvan opened #93 "Empty result in PHP 7.4.2"
When I upgrade my php version 7.4.1 => 7.4.2
The result is: a:0:{}
It works well with 7.4.1

[2020-02-14 11:31] glensc opened #94 "Add package to pecl.php.net"
Please add package also to pecl:

- https://pecl.php.net/package-search.php?pkg_name=xhprof
- https://pecl.php.net/package-search.php?pkg_name=tideways

This makes extension extension installation standard for any newcomers:

[code]

[2020-02-14 11:31] glensc commented on #16
Let's try this again: https://github.com/tideways/php-xhprof-extension/issues/94

[2020-02-14 14:08] beberlei commented on #93
@distvan thanks confusing, will check

[2020-04-08 21:54] frequenc1 opened #95 "execution time"
Is there an expected overhead for profiling per request? Historically I don't remember there being much of a slow down but in docker using nginx we are going from a couple hundred millisecs to 4-5 seconds turning on profiling.

[2020-04-09 08:28] beberlei commented on #95
@frequenc1 That doesn't sound right. Can you check phpinfo() output of Tideways extension and tell me what the value for "Clock Source" is?

[2020-04-09 16:20] frequenc1 commented on #95
Yes! here is a bit of system info:

`phpinfo()
PHP Version => 7.3.16

System => Linux 7d577ac2c4e8 4.19.76-linuxkit #1 SMP Thu Oct 17 19:31:58 UTC 2019 x86_64
...
tideways_xhprof

Version => 5.0.2
Clock Source => clock_gettime
`

`
[PHP Modules]
bcmath
Core
ctype
curl
date
dom
fileinfo
filter
ftp
gd
hash
iconv
json
libxml
mbstring
mysqlnd
openssl
pcre
PDO
pdo_mysql
pdo_pgsql
pdo_sqlite
pgsql
Phar

[2020-04-10 09:43] beberlei commented on #95
@frequenc1 can you try setting `tideways_xhprof.clock_use_rdtsc=1` ini setting and try again?

[2020-04-10 11:14] beberlei commented on #93
I cannot reproduce this, can you verify that maybe `tideways_xhprof_enable` just wasn't started? `tideways_xhprof_disable()` always returns an array, even when enable hasn't been called before.

[2020-04-10 18:11] frequenc1 commented on #95
Yes that is helping tremendously! Thank you. I did see this in the README.md but failed to noticed the name space change when I tried it.

You might want to change that to `tideways_xhprof` instead of tideways. Is this standard for dockerized containers? I have an internal timer that gives load time of a page from laravel app middleware to terminal and those times are faster than the over all prof

[2020-04-10 18:41] beberlei commented on #95
It might be a standard problem for Docker containers on *Mac*, but i don't know for sure. `clock_gettime` has usually a caching mechanism (VSDO) on Linux itself, it might be that this doesn't exist on Mac docker virtualization or works badly.

[2020-04-10 18:41] #95 closed

[2020-04-10 18:43] beberlei commented on #95
Ref 9357da0

[2020-04-19 14:46] glensc opened #97 "5.0.2 extension for php 7.4 zts compiled as non-zts"
[code]

[2020-04-19 14:48] glensc commented on #97
here's a script that tests all versions via docker images. integrate in your qa.

[code]

[code]

also, do you know that your download is lacking 7.0-zts extension?

[2020-06-02 13:17] paul-gene opened #98 "PHP 7.2 FPM installation"
I successfully cloned the repo and ran the phpize and make commands.

I added the extension entry to my php7.2 fpm php.ini file and restarted php7.2-fpm and nginx, but phpinfo() does not show the extension as loaded.

[2020-06-02 16:25] beberlei commented on #98
This sounds like the php extension is not correctly compiled against the right php version. Do you have multiple PHP versions installed on the machine?

[2020-06-02 16:25] beberlei commented on #98
The important part then is to set the right phpize and php-config:

[code]

[2020-06-03 08:58] paul-gene commented on #98
That's exactly what happened!

I have multiple PHP versions installed, and I had ran `phpize` as the wrong version. Finally got it installed!

[2020-06-03 08:58] #98 closed

[2020-07-08 20:41] NoiseByNorthwest opened #99 "Stats collection broken in `tideways_realloc()`"
[tideways_realloc()](https://github.com/tideways/php-xhprof-extension/blob/v5.0.2/tracing.c) does not correctly collect the allocation stats when wrapping the `realloc()` function.
It currently assumes that:
- a new allocation is always done, which is not true.
- a free (of the old memory) is always done, which is not true. Furthermore realloc can be called with NULL as first argument in order to

[2020-07-10 08:23] Rarst commented on #80
Hey, is it possible to get any clarity if this would ever be resolved?

It's not critical to me, but I have a related profile viewer project I tinker on sporadically. This is effectively the last xhprof-type PHP profiler on Windows and if it's not going to work I would just drop the viewer thing for good.

[2020-08-07 10:41] ChrisB9 opened #100 "./configure: line 4107: syntax error: unexpected"
Hi there,

I am currently building the xhprof-extension in a php8 environment
Since the newest php release php 8.0.0beta1 the configure execution renders the following error:

`./configure: line 4107: syntax error: unexpected "(" (expecting "fi")`

![image](https://user-images.githubusercontent.com/7099583/89637721-ee2a2200-d8aa-11ea-8ec5-37a98d19bb42.png)
`$as_echo_n "(cached) " >&6` -> this line

[2020-08-07 10:46] beberlei commented on #100
Probably Alpines configure is a different version or something where the syntax is slightly different than on a common Linux ;-)

[2020-08-07 11:03] ChrisB9 commented on #100
That would mean, that the configuration should have never worked.
The last change in this repository happend in April and i am pulling from master.
Prior to Thursday, hence in the alpha3, it worked. I don't really think it is alpines fault here.

[2020-08-08 04:07] khs1994 commented on #100
@nikic

[2020-08-08 08:39] nikic commented on #100
Should be fixed by https://github.com/php/php-src/commit/05478e985eb50c473054b4f1bf174f48ead78784.

[2020-11-26 08:47] versusbassz opened #101 "PHP 8 compatibility"
Is it compatible with PHP 8?
If it isn't, do you have any plans/deadlines to implement that?

[2020-11-26 08:51] beberlei commented on #101
Its working already in this PoC PR, i just need to add all the if macros to decide between PHP 7 and 8 and fix the test differences: https://github.com/tideways/php-xhprof-extension/pull/96

[2020-12-16 20:20] #100 closed

[2020-12-29 22:19] beberlei commented on #101
Fixed in #96

[2020-12-29 22:19] #101 closed

[2021-01-21 03:02] cjhlai opened #102 "error: ‘ZEND_COMPILE_NO_BUILTINS’ undeclared in php7.0.6"
php 7.0.6
when i run these :
git clone https://github.com/tideways/php-xhprof-extension.git
cd php-xhprof-extension
phpize
./configure
make

it return the below errors :
[root@oppo-www-20200806152015-ctbg php-xhprof-extension]# make
/bin/sh /data/php-xhprof-extension/libtool --mode=compile cc -DZEND_ENABLE_STATIC_TSRMLS_CACHE=1    -I. -I/data/php-xhprof-extension -DPHP_ATOM_INC -I/data/php-xhprof-

[2021-01-29 05:10] Krinkle opened #103 ""main()" entry is corrupt if redundant enable was nested"
I encountered this issue when profiling MediaWiki after having used php5-xhprof and hhvm-xhprof, and switching to tideways-xhprof with PHP 7.2.

The way it works is:
* The MediaWiki application has support for tideways-xhprof and when in debug mode, will start the profiler as soon as it can.
* The MediaWiki application can also return a summary of the profile back to the end-user, at the end of th

[2021-07-12 11:14] cash2910 opened #106 "No Sql message shown in the result"
phpVersion : 7.4
tidewaysVersion:
   tideways_xhprof
   Version => 5.0.4
I Iog the result from the function  tideways_xhprof_disable() , Only find the trace of the request and some other information of the server .

[2021-08-10 14:25] koekaverna opened #107 "Wrong summary in php8"
I tried extension with php8 and there is a problem in summary it shows 0 values:
![xhgui](https://user-images.githubusercontent.com/20415858/128884312-4182e60f-8e72-4a45-a48c-b9f186ac4c0b.png)
There is two request to the same page, first request is php8 and second is php7.4

[2021-08-25 14:59] e2-robert opened #108 "Upgrade from v5.0.2 to v5.0.4 doubled server load"
We are still using PHP 7.3. A recent upgrade to latest PHP 7.3.29 included an upgrade of the tideways extension from v5.0.2 to v5.0.4. This was a bad decision. Our PHP-FPM was much more busy in terms of CPU usage. Downgrading to tideways v5.0.2 fixed our performance issue. Please note that we did not on profiling using the "enable" function.

I got the impression that the profiler was always on be

[2021-11-28 21:14] #103 closed

[2022-01-19 09:25] mambax7 opened #110 "5.0.4 Windows DLL"
When can we expect the Windows DLLs for 5.0.4?
You have a link in your Readme to https://ci.appveyor.com/project/tideways/php-profiler-extension, but there is nothing there :(

[2022-04-17 12:20] LionsAd opened #111 "Bug: TSC time base factor calculation is not working with tideways_xhprof.clock_use_rdtsc=1"
Fix is trivial:

[code]

tracing_request_init is using the clock_source - so timebase will always be 1 if auto-clock source is different from selected clock source.

PR coming

[2022-04-17 12:28] LionsAd opened #113 "Feature request: Support TSC on Mac M1 (aarch64)"
gettimeofday() or CLOCK MONOTONIC are indeed much worse in qemu on M1.

Support for aarch64 is easy to add though.

[2022-04-20 18:56] LionsAd opened #115 "Feature request: Allow to measure overhead of the profiler and calculate it out"
Especially for the MEMORY + CPU options this can give way more accurate readings

[2022-05-25 08:14] paulchyrilov commented on #107
PHP Version 8.0.8
tideways_xhprof
Version | 5.0.4
Clock Source | clock_gettime

'main()' function has no relation to the child, like it was on 7.x 'main()==>'
![Clipboard - 25 мая 2022 г , 09_32](https://user-images.githubusercontent.com/1749200/170211232-a511d181-8be3-4c4e-975d-b867edeef2c4.png)

it seems this causes wrong numbers (looks like some default numbers)for main() during saving profile

[2022-05-25 19:54] #113 closed

[2022-10-07 14:46] tourze commented on #106
same problem

[2022-10-07 15:25] beberlei commented on #106
The SQL message is not part of the Callgraph in tideways_xhprof. You'll need to use our commerical product for that feature @ tideways.com

[2022-10-07 15:25] #106 closed

[2022-11-03 13:10] stronk7 commented on #107
Any insight here? It seems that no changes related to this have happened since 2020, and with php74 becoming EOL... we are running out of options if this doesn't calculate totals properly under php80/81.

Ciao :-)

[2022-11-03 19:54] hotrush commented on #107
@stronk7 try `pecl install xhprof`, it works for me

[2022-11-03 20:12] stronk7 commented on #107
Yeah, thanks, @hotrush . That's the PECL (https://github.com/longxinH/xhprof , fork of the old/original, recently "revived"). As far as we support both flavours... I just was asking if this is going to be updated to support newer PHP versions or no, just that.

Ciao :-)

[2022-11-25 15:02] nradchenko opened #117 "Tideways makes PHP 8.1.12 with ioncube loader crash"
I can't get PHP 8.1 with recently released Ioncube loader to process encoded files.

The test file is just a single echo line encoded with latest Ioncube PHP Encoder 12 (free trial version).
[code]
Current PHP (`php:8.1.12-cli` from Docker Hub) runs the script fine, but when I tell PHP to load tideways this results in a reproducible crash.
[code]
[code]
Another backtrace of a custom PHP build (8.1

[2022-11-25 18:50] beberlei commented on #117
This is a known issue with ioncube loader, other extensions using observers would also crash. Please talk to the Ioncube support.

[2022-11-25 18:50] #117 closed

[2022-11-28 19:18] nradchenko commented on #117
Thanks @beberlei , looks like you're right - I've tried another extension that utilizes observers API and got a segfault too. So the problem parts are observers and Ioncube loader, not tideways.

If this is a known problem, could you point me to a relevant discussion which explains why the error happens and what probably might go wrong in Ioncube? I guess it somehow violates Zend API which makes t

[2022-11-28 21:11] beberlei commented on #117
@nradchenko You have to talk to ioncube support, I had a support ticket from one of our customers regarding this issue a few weeks ago, its not a public discussion and I havent seen a public discussion on ioncube webseite either.

[2022-11-29 09:26] nradchenko commented on #117
OK, thanks for info!